<a href="https://colab.research.google.com/github/jasmine400/cybersecurity-attack-prediction-with-deep-learninng/blob/main/encode_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#access google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#access google drive
%cd /content/gdrive/My\ Drive/threat_intell
!ls

/content/gdrive/My Drive/threat_intell
 0.pickle			    output7.csv
 1.pickle			    output8.csv
 2.pickle			    output9.csv
 3.pickle			    output.csv
 4.pickle			    pickled_data_file.pkl
 a0.txt				    pre_encode.csv
 cancer.csv			    pre_peocess_step_1.ipynb
'categorical&numerical.ipynb'	    pre_process_1.ipynb
 encode_2.ipynb			    pre_process.ipynb
 encode.ipynb			    pre_process_step_2.ipynb
 gfg.txt			    read_data_otx.ipynb
 ipv4_indicators.csv		    rnn_model.ipynb
 ipv4_indicators_new.csv	    sampl.csv
 ipv4_indicators_new_filtered.csv   save_list.ipynb
 myfile.json			    secc1.txt
 original23.csv			    secc2.txt
 original2.csv			    server_pre_process.ipynb
 original.csv			    test_otx_api.ipynb
 otx.json			    tst.csv
 output10.csv			    tst.txt
 output2.csv			    Untitled0.ipynb
 output3.csv			    Untitled1.ipynb
 output4.csv			    Untitled2.ipynb
 output5.csv			    Untitled3.ipynb
 output6.csv			    Untitled4.ipynb

In [ ]:
import pandas as pd
import ast

In [ ]:
ipv4_indicators = pd.read_csv("ipv4_indicators.csv")

In [ ]:
ipv4_indicators.head()

,Unnamed: 0,id,indicator,type,created,content,title,description,expiration,is_active,role
0,0,20601,71.6.165.200,IPv4,2022-03-27T16:42:07,NaN,CAS-W: TCP-Scanner. Port: 23 (3),NaN,2022-07-19T00:00:00,1,scanning_host
1,1,32836,71.6.167.142,IPv4,2022-03-28T18:55:23,NaN,LT: TCP-Scanner. Port: 22 (4),NaN,2022-07-22T00:00:00,1,scanning_host
2,2,33527,222.73.56.10,IPv4,2022-03-21T21:17:40,NaN,DIS: Brutforce ssh Login (5),NaN,2022-07-16T00:00:00,1,bruteforce
3,3,33836,184.105.247.196,IPv4,2022-03-25T05:26:18,NaN,GIZ-W: TCP-Scanner. Port: 5900 (2),NaN,2022-07-14T00:00:00,1,scanning_host
4,4,33851,71.6.135.131,IPv4,2022-03-22T03:38:37,NaN,GIZ-W: TCP-Scanner. Port: 23 (8),NaN,2022-07-23T00:00:00,1,scanning_host

In [ ]:
ipv4_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227677 entries, 0 to 227676
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           227677 non-null  int64
 1   indicator    227677 non-null  object
 2   type         227677 non-null  object
 3   created      227677 non-null  object
 4   content      0 non-null       float64
 5   title        225606 non-null  object
 6   description  129372 non-null  object
 7   expiration   215799 non-null  object
 8   is_active    227677 non-null  int64
 9   role         86832 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 17.4+ MB

In [ ]:
ipv4_indicators=ipv4_indicators.drop(['Unnamed: 0'], axis = 1)

In [ ]:
gk = ipv4_indicators.groupby('indicator')

In [ ]:
missed=[1,2]

In [ ]:
cc=[]
for jj in missed:
    f1 = open('secc{}.txt'.format(jj), 'r')
    a= f1.readlines()
    f1.close()
    b=[]
    for i in a:
      i = i.strip('\n')
      ini_list=i
      res = ast.literal_eval(ini_list)
      if res:
        if 'id' in res[0]:
          cc.append(res[0])

In [ ]:
print(cc[0])

{'id': 3398251166, 'indicator': '182.253.79.196', 'type': 'IPv4', 'created': '2022-03-27T15:00:12', 'content': '', 'title': 'HoneyNet Event:182.253.79.196', 'description': "HoneyNet Event: 182.253.79.196 connected: 196 times over ports: 22, '22', None  Tags: Suricata, Cowrie,22, 22, None", 'expiration': '2022-04-26T15:00:00', 'is_active': 1, 'tag': ['tsec', 'tpot19', 'honeypot', 'la-safe.org'], 'targeted_countries': [], 'industries': [], 'pulse': '621db66b1925e1de3361bff9'}

In [ ]:
# i is a dictionary contains the pulse info with indicator which has been reported by pulse id
# gk is a groupbied df first dataframe which has indicators info
# k is number of indicator in string format
# out put of function is a dictionary i input dictionary which has been updated by a new key role
from numpy import NaN
def get_role(i,k,gk):
  #cr is the time of pulse which has been created for specefic indicator
  cr=i['created']
  #gk_info is a part of groupbied dataframe with k indicator
  gk_info=gk.get_group(k)
  # eq checks the time between groupbied dataframe and the pulse which has been reported indicator
  eq=gk_info.loc[gk_info['created'] == cr]
  # if match happens it retrieves role of the indicator from first groupbied dataframe in the time which has been specified
  if len(eq)>0:
    role=eq.iloc[0]['role']
    dic1={'role':role}
    i.update(dic1)
  else:
    dic1={'role':NaN}
    i.update(dic1)
  # print(i)
  return (i)

In [ ]:
# i is a dictionary contains the pulse info with indicator which has been reported by pulse id
# gk is a groupbied df first dataframe which has indicators info
# k is number of indicator in string format
for i in cc:
  i=get_role(i=i,k=i['indicator'],gk=gk)

In [ ]:
# create a dataframe from list of dictionaries cc
df = pd.DataFrame(cc)

In [ ]:
# add a new column named count to df
# drop Additional columns from dataframe
# df columns are indicator , created , content	,title , description, tag, targeted_countries, industries, role,count
df ["count"] = 1
df=df.drop(['id', 'type' ,'expiration','is_active','pulse'], axis = 1)
df.head()

,indicator,created,content,title,description,tag,targeted_countries,industries,role,count
0,182.253.79.196,2022-03-27T15:00:12,,HoneyNet Event:182.253.79.196,HoneyNet Event: 182.253.79.196 connected: 196 ...,"[tsec, tpot19, honeypot, la-safe.org]",[],[],NaN,1
1,182.253.79.196,2022-03-27T15:00:11,,HoneyNet Event:182.253.79.196,HoneyNet Event: 182.253.79.196 connected: 196 ...,"[tsec, tpot19, honeypot, la-safe.org]",[],[],NaN,1
2,182.253.79.196,2022-03-27T15:00:13,,HoneyNet Event:182.253.79.196,HoneyNet Event: 182.253.79.196 connected: 196 ...,"[tsec, tpot19, honeypot, la-safe.org]",[],[],NaN,1
3,182.253.79.196,2022-03-31T00:00:15,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,1
4,182.253.79.196,2022-03-29T00:00:34,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,1

In [ ]:
# convert created column of a dataframe to a list of time
time = df["created"].tolist()

In [ ]:
#correct format of time and only remain date of alert time of alert removes
created1=[]
for i in time:
  x=i.split("T")
  created1.append(x[0])

In [ ]:
#set corrected format of time into created column of dataframe
df["created"] = created1

In [ ]:
#Pandas to_datetime() method helps to convert string Date time into Python Date time object.
df['created']= pd.to_datetime(df['created'])

In [ ]:
# sort rows of a dataframe based on created column of a dataframe
df11 = df.sort_values(by="created")

حواسم باشه خطوطی که ستون زمان و اندیکاتورشون نان هست رو حذف کنم که لیست ها بهم بخونه

In [ ]:
#convert created column of a dataframe to a list
Name_list = df11["created"].tolist()

In [ ]:
print(Name_list)

[Timestamp('2022-03-25 00:00:00'), Timestamp('2022-03-25 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2022-03-29 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-04-01 00:00:00'), Timestamp('2022-04-01 00:00:00'), Timestamp('2022-04-06 00:00:00'), Timestamp('2022-04-10 00:00:00'), Timestamp('2022-04-12 00:00:00'), Timestamp('2022-04-12 00:00:00'), Timestamp('2022-04-13 00:00:00'), Timestamp('2022-04-14 00:00:00'), Timestamp('2022-04-15 00:00:00'), Timestamp('2022-04-17 00:00:00')]

In [ ]:
# st=list(set(Name_list))
st = list(dict.fromkeys(Name_list))

In [ ]:
print(st)

[Timestamp('2022-03-25 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2022-03-29 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-04-01 00:00:00'), Timestamp('2022-04-06 00:00:00'), Timestamp('2022-04-10 00:00:00'), Timestamp('2022-04-12 00:00:00'), Timestamp('2022-04-13 00:00:00'), Timestamp('2022-04-14 00:00:00'), Timestamp('2022-04-15 00:00:00'), Timestamp('2022-04-17 00:00:00')]

In [ ]:
uniq_indis = df11["indicator"].tolist()
# uniq_indis_set=list(set(uniq_indis))
uniq_indis_set = list(dict.fromkeys(uniq_indis))
print(len(uniq_indis_set))

4

In [ ]:
#this function wxtracts role of indicator from description input is description in string format and output is a list whci contains
#role of indicator
def indi_role(description):
  rolee=[]
  for i in description:

    if i:
      if 'bruteforce' in i.lower():
        rolee.append('bruteforce')
      if   ('scanning' or 'scanner')  in i.lower():
        print(i)
        rolee.append('scanning')
      elif 'HoneyNet' in i:
        rolee.append('HoneyNet')
  return rolee

In [ ]:
#this function extracts attck type from role, tag, description, title output is a list
def get_attach_type(role,tag,description,title):
  attack_type=[]
  if 'scanning_host' in role:
    attack_type.append('scanning')
  if 'bruteforce' in role:
    attack_type.append('bruteforce')
  # if   len(attack_type)<1:
  #   for i in tag:
  #     if i:
  #       attack_type.extend(i)
  elif  len(attack_type)<1:
    # description = description[0].replace("[", "")
    # description = description[0].replace("]", "")
    # print(description)
    attack_type= indi_role(description)

  elif  len(attack_type)<1:
    # description = title[0].replace("[", "")
    # description = title[0].replace("]", "")
    # print(title)
    attack_type= indi_role(title)
  elif   len(attack_type)<1:
      for i in tag:
        if i:
          attack_type.extend(i)
  return(attack_type)

In [ ]:
def initial_country_indust(country,indust):
  #target countries is a list in the c_i list
  c_i=[]
  c=[]
  for i in country:
    if i:

      c.extend(i)

  c_i.append(c)
  #target industries is a list in the c_i list
  ind=[]
  for j in indust:
    if j:
     ind.extend(j)
  c_i.append(ind)
  return c_i

In [ ]:
import numpy as np

In [ ]:
df_n = pd.DataFrame()
for unq_ind in range(len(uniq_indis_set)):
  df1=df11.loc[df11['indicator'] == uniq_indis_set[unq_ind]]
  for i in range(len(st)):

    a=df1.loc[df1['created'] == st[i]]
    print(a.info())
    if len(a)>0:
      cnt=df1['created'].value_counts()[st[i]]


      if cnt>1:

        country = a["targeted_countries"].tolist()

        indust=a["industries"].tolist()
        role=a["role"].tolist()
        tag=a["tag"].tolist()
        description=a["description"].tolist()
        title=a["title"].tolist()
        c_i=initial_country_indust(country=country,indust=indust)


        a.iat[0,6]=c_i[0]
        a.iat[0,7]=c_i[1]
        a.iat[0,9]=cnt
        a ["attack_type"] = 1
        a ["attack_type"]  = a ["attack_type"] .astype(object)
        a.head()

        atk=get_attach_type(role,tag,description,title)
        a.iat[0,10]=atk
        if i==3:
          print(c_i[0])
          print(c_i[1])
        a=a.iloc[0]
        df_n=df_n.append(a)
      else:
        a ["attack_type"] = 1
        a ["attack_type"]  = a ["attack_type"] .astype(object)
        role=a["role"].tolist()
        tag=a["tag"].tolist()
        description=a["description"].tolist()
        title=a["title"].tolist()
        # print(title)
        # print(description)
        # print(title)
        # print(type(title[0]))
        # print("------------------------------")

        atk=get_attach_type(role,tag,description,title)




        a.iat[0,10]=atk
        df_n=df_n.append(a)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 12 to 8
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           2 non-null      object
 1   created             2 non-null      datetime64[ns]
 2   content             2 non-null      object
 3   title               2 non-null      object
 4   description         2 non-null      object
 5   tag                 2 non-null      object
 6   targeted_countries  2 non-null      object
 7   industries          2 non-null      object
 8   role                1 non-null      object
 9   count               2 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 176.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 13 to 7
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           2 non-null      object
 1   created             2 non-null      datetime64[ns]
 2   content             2 non-null      object
 3   title               2 non-null      object
 4   description         2 non-null      object
 5   tag                 2 non-null      object
 6   targeted_countries  2 non-null      object
 7   industries          2 non-null      object
 8   role                1 non-null      object
 9   count               2 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 176.0+ bytes
None
[]
[]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 11 to 11
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 10 to 10
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 9 to 9
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           3 non-null      object
 1   created             3 non-null      datetime64[ns]
 2   content             3 non-null      object
 3   title               3 non-null      object
 4   description         3 non-null      object
 5   tag                 3 non-null      object
 6   targeted_countries  3 non-null      object
 7   industries          3 non-null      object
 8   role                0 non-null      object
 9   count               3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 264.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 4 to 4
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 3 to 3
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 18 to 18
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 17 to 17
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 16 to 16
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 15 to 15
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 14 to 14
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 6 to 6
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                0 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 5 to 5
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           1 non-null      object
 1   created             1 non-null      datetime64[ns]
 2   content             1 non-null      object
 3   title               1 non-null      object
 4   description         1 non-null      object
 5   tag                 1 non-null      object
 6   targeted_countries  1 non-null      object
 7   industries          1 non-null      object
 8   role                1 non-null      object
 9   count               1 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 88.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   indicator           0 non-null      object
 1   created             0 non-null      datetime64[ns]
 2   content             0 non-null      object
 3   title               0 non-null      object
 4   description         0 non-null      object
 5   tag                 0 non-null      object
 6   targeted_countries  0 non-null      object
 7   industries          0 non-null      object
 8   role                0 non-null      object
 9   count               0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 0.0+ bytes
None

add benigne days

In [ ]:
df_n.head()

,indicator,created,content,title,description,tag,targeted_countries,industries,role,count,attack_type
12,157.230.34.36,2022-03-25,,,,[],[Germany],"[Serverhosting, Technology]",NaN,2.0,[bruteforce]
13,157.230.34.36,2022-03-31,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,2.0,[bruteforce]
11,157.230.34.36,2022-04-06,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,1.0,[bruteforce]
10,157.230.34.36,2022-04-10,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,1.0,[bruteforce]
9,157.230.34.36,2022-04-12,,,SSH bruteforce authentication activity,"[Bruteforce, Honeypot]",[],[],NaN,1.0,[bruteforce]

In [ ]:
groups = df_n.groupby('indicator')

In [ ]:
def times(sampl):
  list_of_times=[]
  length=len(sampl)
  last_day_idx=length-2
  last_day=sampl.iat[last_day_idx,2]
  if last_day:
    for i in range(30):
      # print(last_day)
      # print(i)
      dy=last_day-pd.to_timedelta(i, unit='d')
      # sampl['date1'] = sampl['created'] -  pd.to_timedelta(sampl['diff'], unit='d')
      list_of_times.append(dy)
  return(list_of_times)

In [ ]:
def add_benign_days(sampl):

  list_of_times = times(sampl)
  # print(list_of_times)
  indicator=sampl.iat[0,1]
  for i in range(len(list_of_times)):
    df_s=sampl.loc[sampl['created'] == list_of_times[i]]
    if len(df_s)<1:
      df2 = { 'id':'nan','indicator': indicator, 'created': list_of_times[i] , 'targeted_countries': [0], 'industries': [0],'pulse':'nan', 'count' : 0, 'attack_type': [0]}
      sampl = sampl.append(df2, ignore_index = True)
  return sampl

In [ ]:
integrated = pd.DataFrame()
sampl=groups.get_group('192.241.222.154')
sampl=sampl.drop([ 'content','title','description','tag','role'], axis = 1)

sampl = sampl.sort_values(by="created",ignore_index=True)
print(len(sampl))
print(sampl.head())
sampl=add_benign_days(sampl)
sampl = sampl.sort_values(by="created",ignore_index=True)
removed_elements=list(range(32, len(sampl)))
sampl.drop(removed_elements, axis=0, inplace=True)
integrated = integrated.append(sampl)

2
         indicator    created targeted_countries                   industries  \
0  192.241.222.154 2022-04-01                 []                           []
1  192.241.222.154 2022-04-12          [Germany]  [Serverhosting, Technology]

   count attack_type
0    1.0  [HoneyNet]
1    1.0  [scanning]

In [ ]:
print(len(integrated))

2

In [ ]:
from google.colab import files

integrated.to_csv('output9.csv', encoding = 'utf-8-sig')
files.download('output9.csv')

In [ ]:
integrated = pd.DataFrame()
for i in uniq_indis_set:
  sampl=groups.get_group(i)
  sampl=sampl.drop(['type', 'content','title','description','expiration','is_active','tag','role'], axis = 1)

  sampl = sampl.sort_values(by="created",ignore_index=True)

  sampl=add_benign_days(sampl)
  sampl = sampl.sort_values(by="created",ignore_index=True)
  removed_elements=list(range(32, len(sampl)))
  sampl.drop(removed_elements, axis=0, inplace=True)
  integrated = integrated.append(sampl)

In [ ]:
integrated.head()

,id,indicator,created,targeted_countries,industries,pulse,count,attack_type
0,nan,143.244.182.168,2022-03-17,[0],[0],nan,0,[0]
1,nan,143.244.182.168,2022-03-18,[0],[0],nan,0,[0]
2,nan,143.244.182.168,2022-03-19,[0],[0],nan,0,[0]
3,nan,143.244.182.168,2022-03-20,[0],[0],nan,0,[0]
4,nan,143.244.182.168,2022-03-21,[0],[0],nan,0,[0]

In [ ]:
from google.colab import files

integrated.to_csv('output8.csv', encoding = 'utf-8-sig')
files.download('output8.csv')

In [ ]:
#pre encode
def pre_encode(atk_type):

  attack_type=[]

  for i in atk_type:
    if 0 in i:
      attack_type.append('0')
    elif 'HoneyNet' in i:
      attack_type.append('HoneyNet')
    elif 'scanning_host' in i:
      attack_type.append('scanning_host')
    elif 'bruteforce' in i:
      attack_type.append('bruteforce')
    elif 'scanning' in i:
      attack_type.append('scanning_host')
    else:
      attack_type.append('other')
  print(len(attack_type))
  return (attack_type)

In [ ]:
def pre_encode_industries(industry):

  industries=[]
  for i in industry:
    if 0 in i:
      industries.append('0')
    elif len(i)>0:
      print(i)
      industries.append(i[0])
    else :
      industries.append('other')
  return (industries)

In [ ]:
atk_type = integrated["attack_type"].tolist()
attack_type=pre_encode(atk_type)
integrated['attack_type_pre'] =  attack_type
#-----------------------------------------------------
industry = integrated["industries"].tolist()
industries = pre_encode_industries(industry)
integrated["industries_pre"] =  industries
#-------------------------------------------------------
target_country = integrated["targeted_countries"].tolist()
target_countries = pre_encode_industries(target_country)
integrated["target_countries_pre"] =  target_countries

124
['Serverhosting', 'Technology']
['Serverhosting', 'Technology']
['United States of America']
['Germany']
['Germany']

In [ ]:
integrated.head()

,id,indicator,created,targeted_countries,industries,pulse,count,attack_type,attack_type_pre,industries_pre,target_countries,target_countries_pre
0,nan,143.244.182.168,2022-03-17,[0],[0],nan,0,[0],0,0,0,0
1,nan,143.244.182.168,2022-03-18,[0],[0],nan,0,[0],0,0,0,0
2,nan,143.244.182.168,2022-03-19,[0],[0],nan,0,[0],0,0,0,0
3,nan,143.244.182.168,2022-03-20,[0],[0],nan,0,[0],0,0,0,0
4,nan,143.244.182.168,2022-03-21,[0],[0],nan,0,[0],0,0,0,0

In [ ]:
pre_encode = integrated[['indicator', 'created','count','attack_type_pre','industries_pre','target_countries_pre']]

In [ ]:
pre_encode.head()

,indicator,created,count,attack_type_pre,industries_pre,target_countries_pre
0,143.244.182.168,2022-03-17,0,0,0,0
1,143.244.182.168,2022-03-18,0,0,0,0
2,143.244.182.168,2022-03-19,0,0,0,0
3,143.244.182.168,2022-03-20,0,0,0,0
4,143.244.182.168,2022-03-21,0,0,0,0

In [ ]:
print(len(pre_encode))

124

In [ ]:


# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [ ]:
pre_encode['attack_type']= label_encoder.fit_transform(pre_encode['attack_type_pre'])
pre_encode['industries']= label_encoder.fit_transform(pre_encode['industries_pre'])
pre_encode['target_countries']= label_encoder.fit_transform(pre_encode['target_countries_pre'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pre_encode=pre_encode.drop(['attack_type_pre', 'industries_pre','target_countries_pre'], axis = 1)

In [ ]:
pre_encode.head()

,indicator,created,count,attack_type,industries,target_countries
0,143.244.182.168,2022-03-17,0,0,0,0
1,143.244.182.168,2022-03-18,0,0,0,0
2,143.244.182.168,2022-03-19,0,0,0,0
3,143.244.182.168,2022-03-20,0,0,0,0
4,143.244.182.168,2022-03-21,0,0,0,0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
pre_encode.iloc[:,2:6] = scaler.fit_transform(pre_encode.iloc[:,2:6].to_numpy())

In [ ]:
from google.colab import files

pre_encode.to_csv('pre_encode.csv', encoding = 'utf-8-sig')
files.download('pre_encode.csv')

In [ ]:
#inverse
pre_encode.iloc[:,2:6] = scaler.inverse_transform(pre_encode.iloc[:,2:6].to_numpy())

finished

In [ ]:
pre_encode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 0 to 30
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   indicator         124 non-null    object
 1   created           124 non-null    datetime64[ns]
 2   count             124 non-null    int64
 3   attack_type       124 non-null    int64
 4   industries        124 non-null    int64
 5   target_countries  124 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 10.9+ KB

In [ ]:
pre_encode.iloc[:,2:6]

    count  attack_type  industries  target_countries
0       0            0           0                 0
1       0            0           0                 0
2       0            0           0                 0
3       0            0           0                 0
4       0            0           0                 0
..    ...          ...         ...               ...
26      0            0           0                 0
27      3            1           2                 3
28      0            0           0                 0
29      1            2           2                 3
30      1            2           2                 3

[124 rows x 4 columns]

In [ ]:
pre_encode.head()

,indicator,created,count,attack_type,industries,target_countries
0,143.244.182.168,2022-03-17,0.0,0.0,0.0,0.0
1,143.244.182.168,2022-03-18,0.0,0.0,0.0,0.0
2,143.244.182.168,2022-03-19,0.0,0.0,0.0,0.0
3,143.244.182.168,2022-03-20,0.0,0.0,0.0,0.0
4,143.244.182.168,2022-03-21,0.0,0.0,0.0,0.0

In [ ]:
from google.colab import files

pre_encode.to_csv('pre_encode.csv', encoding = 'utf-8-sig')
files.download('pre_encode.csv')

In [ ]:
from google.colab import files

pre_encode.to_csv('pre_encode.csv', encoding = 'utf-8-sig')
files.download('pre_encode.csv')

In [ ]:
x=pre_encode.values

In [ ]:
print(x[0][2:])

[0 0 0 0]

In [ ]:
print(x)

[['143.244.182.168' Timestamp('2022-03-17 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-18 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-19 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-20 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-21 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-22 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-23 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-24 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-25 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-26 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-27 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-28 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-29 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-30 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-03-31 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-01 00:00:00') 1 2 2 3]
 ['143.244.182.168' Timestamp('2022-04-02 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-03 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-04 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-05 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-06 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-07 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-08 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-09 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-10 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-11 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-12 00:00:00') 0 0 0 0]
 ['143.244.182.168' Timestamp('2022-04-13 00:00:00') 1 3 2 2]
 ['143.244.182.168' Timestamp('2022-04-14 00:00:00') 1 2 2 3]
 ['143.244.182.168' Timestamp('2022-04-15 00:00:00') 1 3 2 3]
 ['143.244.182.168' Timestamp('2022-04-17 00:00:00') 1 2 2 3]
 ['192.241.222.154' Timestamp('2022-03-03 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-04 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-05 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-06 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-07 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-08 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-09 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-10 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-11 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-12 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-13 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-14 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-15 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-16 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-17 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-18 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-19 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-20 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-21 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-22 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-23 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-24 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-25 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-26 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-27 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-28 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-29 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-30 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-03-31 00:00:00') 0 0 0 0]
 ['192.241.222.154' Timestamp('2022-04-01 00:00:00') 1 1 2 3]
 ['192.241.222.154' Timestamp('2022-04-12 00:00:00') 1 4 1 1]
 ['157.230.34.36' Timestamp('2022-03-12 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-13 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-14 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-15 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-16 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-17 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-18 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-19 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-20 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-21 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-22 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-23 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-24 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-25 00:00:00') 2 2 1 1]
 ['157.230.34.36' Timestamp('2022-03-26 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-27 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-28 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-29 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-30 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-03-31 00:00:00') 2 2 2 3]
 ['157.230.34.36' Timestamp('2022-04-01 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-02 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-03 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-04 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-05 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-06 00:00:00') 1 2 2 3]
 ['157.230.34.36' Timestamp('2022-04-07 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-08 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-09 00:00:00') 0 0 0 0]
 ['157.230.34.36' Timestamp('2022-04-10 00:00:00') 1 2 2 3]
 ['157.230.34.36' Timestamp('2022-04-12 00:00:00') 1 2 2 3]
 ['182.253.79.196' Timestamp('2022-02-28 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-01 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-02 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-03 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-04 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-05 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-06 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-07 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-08 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-09 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-10 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-11 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-12 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-13 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-14 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-15 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-16 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-17 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-18 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-19 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-20 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-21 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-22 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-23 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-24 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-25 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-26 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-27 00:00:00') 3 1 2 3]
 ['182.253.79.196' Timestamp('2022-03-28 00:00:00') 0 0 0 0]
 ['182.253.79.196' Timestamp('2022-03-29 00:00:00') 1 2 2 3]
 ['182.253.79.196' Timestamp('2022-03-31 00:00:00') 1 2 2 3]]

In [ ]:
x_scaled = scaler.fit_transform(x[0][2:].reshape(-1,1))

In [ ]:
print(x_scaled)

[[0.]
 [0.]
 [0.]
 [0.]]

In [ ]:
df = pd.DataFrame(x_scaled)

In [ ]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()


df = pd.DataFrame({
               'A':[1,2,3],
               'B':[100,300,500],
               'C':list('abc')
             })

print(df)

   A    B  C
0  1  100  a
1  2  300  b
2  3  500  c

In [ ]:
df.iloc[:,1:3]

     B  C
0  100  a
1  300  b
2  500  c

In [ ]:
df.iloc[:,0:-1] = scaler.fit_transform(df.iloc[:,0:-1].to_numpy())
print(df)

          A         B  C
0 -1.224745 -1.224745  a
1  0.000000  0.000000  b
2  1.224745  1.224745  c

In [ ]:


x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [ ]:
pre_
pre_encode['attack_type_n']= scaler.fit_transform(pre_encode['attack_type'].reshape(1,-1))
pre_encode['industries_n']= scaler.fit_transform(pre_encode['industries'])
pre_encode['target_countries_n']= scaler.fit_transform(pre_encode['target_countries'])

AttributeError: ignored

In [ ]:
# example of a normalization
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
# define data
data = asarray([[100, 0.001],
				[8, 0.05],
				[50, 0.005],
				[88, 0.07],
				[4, 0.1]])
print(data)
# define min max scaler
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

In [ ]:
from google.colab import files

pre_encode.to_csv('pre_encode.csv', encoding = 'utf-8-sig')
files.download('pre_encode.csv')